*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'vt323';
  }
  
  .main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12,3,51,0.3));
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
    
  } 
  
  .navHome {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  
  nav ul
  {
    margin-left: auto;
  }
  
  nav ul li
  {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }
  
  nav ul li a 
  {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
  }
  
  .content
  {
    text-align: center;
  }
  
  .content h1
  {
    color: #fff;
    font-size: 200px;
    font-weight: 600;
    transition: 0.5s;
  }

  .content h1:hover 
  {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
  
  .content a
  {
    color: #fff;
    text-decoration: none;
    border: solid 2px #fff;
    border-radius: 50px;
    padding: 14px 70px;
    display: inline-block;
    margin-top: 20px;
    font-size: 30px;
  }
  
  .backgroundvideo-home
  {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover; 
  }

  .logoGA
  {
    font-size: 80px;
    color: #fff;
    text-decoration: none;
  }

  /*------------------------------------------------------- COLLECTIONS ----------------------------------------*/

  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    padding: 0 150px;
  }
  
  .product-item {
    width: 30%; 
    margin-bottom: 200px;
    padding: 15px;
    text-align: center;
    background-color: #F4F4F4;
    position: relative;
  }
  
  .product-item img {
    height: 500px;
    width: 300px;
    margin-bottom: 10px;
  }

  .product-item .hover
  {
    top: 41%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 500px;
    position: absolute;
    padding: 20px 20px 0 20px;
    opacity: 0;
    /*transition: 0.5s;*/
  }

  .product-item .hover:hover
  {
    opacity: 1;
    cursor: pointer;
  }
  
  .product-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-item p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  

  .collections 
  {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12,3,51,0.3));
    padding: 0 5%;
  }

p
  {
    position: absolute;
    top: 250px;
    left: 100px;
    font-size: 75px;
    font-weight: bold;
    color: #fff;
  }